header {
    background-color: #333;
    color: #f2f2f2;
    padding: 20px;
    position: relative;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
    width: auto;
  }
  
  header nav a {
    color: hsl(0, 100%, 100%);
    text-decoration: none;
    margin-right: 20px;
    font-size: 1.2em;
    transition:.3s ease all;
    cursor: pointer;
    opacity: .7;
    filter: alpha(opacity=70); 
    -webkit-transition: .3s ease all;
    -moz-transition: .3s ease all;
    -o-transition: .3s ease all;
    -ms-transition: .3s ease all;
  }

  h1 {
    font-family: 'Monserrat', sans-serif;
    font-weight: bolder;
  }

  section {
    text-align: center;
    font-family: 'Monserrat', sans-serif;
  }

  h3, p {
    text-align: center;
  }

button {
  background-color: #333;
  width: 45px;
}

.links {
  width: 60px;
}

  a {
    font-family: 'Monserrat', sans-serif;
  }

  h2 {
    font-family: 'Monserrat', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
  }

  .intro {
    text-align: center;
    font-size: 1.5em;
    padding: 30px;
    margin-top: 100px;
  }
  
  .intro img {
    border-radius: 50%;
    width: 200px;
    margin-bottom: 20px; 
  }
  
  .intro h1, 
  .intro p {
    margin: 10px 0;
    color: #444;
  }

  .skills article {
    background-color: #f2f2f2;
    padding: 20px;
    width: 15%;
    display: inline-block;
    margin: 0 2% 2% 0;
    vertical-align: top;
    box-shadow:  0 0 7px rgba(0,0,0,.1);
    text-align: center;
}

  .skills img {
    width: 64px;
    margin-bottom: 10px;
  } 

  .contact .social img {
    width: 32px;
    margin-right: 10px;
}

  footer {
    background: #333;
    color: #f2f2f2;
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 997;
    width: auto;
  }

   /* Add media query for mobile responsiveness */

  @media only screen and (max-width: 768px) {

    button {
      width: 55px;
    }

    .intro {
      padding: 20px;
      text-align: center;
    }
    
    .intro img {
      width: 150px;
      text-align: center;
    }

    .skills article {  
      width: 100%;
      margin-bottom: 20px;
      text-align: center;
    }

  }


