:root {
    --background: #2C2C2C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    display: grid;
    height: 100vh;
    margin: 0px;
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
}

.container {
    margin: auto;
}

.profile-wrapper {
    width: 100%;
    max-width: 450px; /* Added a max-width for responsiveness */
    height: auto; /* Changed height to auto for responsiveness */
    position: relative;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 500px; /* Added a max-width for responsiveness */
    height: auto; /* Changed height to auto for responsiveness */
    border-radius: 16px;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: 0.5s;
}

.profile .profile-image {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    background-color: var(--background);
    transition: .5s;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile:hover img {
    opacity: 0.4;
    transition: .5s;
}

.profile:hover .profile-image {
    transform: translateY(-30%); /* Adjusted translateY value for responsiveness */
    transition: all .9s;
}

.profile:hover .profile-bio {
    opacity: 0.9;
}

.social-icons {
    position: absolute;
    display: flex;
    gap: 12px;
    z-index: 3;
    bottom: 20px; /* Adjusted bottom value for responsiveness */
    left: 50%; /* Added left value to center the icons horizontally */
    transform: translateX(-50%); /* Added translateX to center the icons horizontally */
}

.social-icons li {
    list-style: none;
}

.social-icons li a {
    position: relative;
    display: block;
    display: grid;
    place-items: center;
    background: #fff;
    font-size: 23px;
    font-weight: bold;
    width: 40px;
    height: 40px;
    border: 1px solid #CDCDCD;
    border-radius: 8px;
    transition: .2s;
    transform: translateY(0);
    opacity: 1;
}

.social-icons li a:hover {
    background: var(--background);
    transition: .2s;
}

.social-icons li a svg {
    color: var(--background);
    transition: .2s;
}

.social-icons li a:hover svg {
    color: white;
    transition: 0.8s;
    transform: rotateY(360deg);
}

.profile-name {
    bottom: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 106px;
    padding: 12px 14px;
    color: black;
    text-align: left;
}

.profile:hover .profile-name {
    background-color: #fff;
}

.profile-image h2 {
    margin-bottom: 8px;
}

/* Media Query for screens smaller than 600px */
@media (max-width: 600px) {
    .profile-wrapper {
        width: 100%;
        max-width: 100%;
    }

    .profile {
        width: 100%;
        max-width: 100%;
    }
}